@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);
@import url(http://fonts.googleapis.com/css?family=Geo);

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background: #eee;
}


#nav {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	font-family: "Geo",sans-serif;
	pointer-events:none;
}

#nav ul {
	margin: 0;
	padding: 0;
	pointer-events: auto;
}

#nav ul li{
	border: 5px solid #62ACDD;
	background: #fff;
	font-size: 25px;
	color: #62ACDD;
	list-style: none;
	text-align: center;
	position: relative;
	float: left;
	margin: 10px 5px 0px 5px;
	padding: 0 10px;
	line-height: 40px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#nav ul li:hover{
	cursor: pointer;
	background-color: #62ACDD;
	color: #fff;
}

#login_title {
	color: #777;
	font-size: 60px;
	font-family: "Geo",sans-serif;
}

#login_form {
	padding: 20px;
	text-align: center;
	max-width: 350px;
	margin: 0 auto;
	background: #fff;
	margin-top: 50px;
	border-top: 5px solid #62ACDD;
}

#login_form form {
	margin: 0 auto;
}

#login_form form input {
	width: 100%;
	display: block;
	margin: 0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#login_form form label {
	display: block;
	width: 100%;
	text-align: left;
	margin-top: 15px;
	font-family: "Geo",sans-serif;
	font-size: 25px;
}

#login_form input[type="submit"] {
	margin-top: 15px;
}

#errors {
	font-weight: 700;
	color: #E37C7B;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	text-align: center;
}

#errors ul {
	padding-left: 0px;
}

#errors ul li {
	list-style: none;
}

#success {
	color: #41E843;
	font-weight: 700; 
}

#new_account {
	padding-top: 15px;
}

#new_account a {
	font-weight: 700;
	color: #62ACDD;
	font-family: 'Roboto Slab', serif;
}

/* CREATE CHAT STYLES */

#chat_input {
	border: 0px;
}

#start_chat_container {
	text-align: center;
	max-width: 350px;
	margin: 0 auto;
	font-family: 'Roboto Slab', serif;
}

#start_chat_container #new_chat {
	border-top: 5px solid #41E843;
	padding: 10px;
	background: #fff;
}

#start_chat_container label {
	display: block;
	font-weight: 700;
	padding-top: 10px;
	color: #777;
	font-size: 20px;
}

#start_chat_container input[type="text"] {
	background: #eee !important;
	border-top: 5px solid #41E843;
	margin: 10px 0;
	padding: 0 10px !important;
	color: #777;
}

#start_chat_container input[type="submit"] {
	width: 100%;
	background: #41E843;
	font-size: 20px;
	color: #fff;
}

/* START STYLES */

#start_container {
	text-align: center;
	max-width: 350px;
	margin: 0 auto;
	font-family: 'Roboto Slab', serif;
}

#start_title {
	padding: 50px 0 20px 0;
	color: #777;
	font-family: "Geo",sans-serif;
	font-size: 40px;
}

.start_button {
	background: #fff;
	font-family: "Geo",sans-serif;
	width: 100%;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.start_button a {
	font-size: 40px;
	text-decoration: none;
	font-weight: 700;
	display: block;
	width: 100%;
	padding: 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}	

#join_chat { border: 5px solid #62ACDD;}
#join_chat a { color: #62ACDD; }
#join_chat a:hover { background: #62ACDD; color: #fff; 	
	-webkit-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow:    inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
	box-shadow:         inset 0px 0px 0px 5px rgba(255, 255, 255, 1);}

#start_chat { border: 5px solid #41E843; }
#start_chat a { color: #41E843; }
#start_chat a:hover { background: #41E843; color: #fff;	
	-webkit-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow:    inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
	box-shadow:         inset 0px 0px 0px 5px rgba(255, 255, 255, 1);}

#create_room_title {
	padding: 50px 0 20px 0;
	color: #41E843;
	font-family: "Geo",sans-serif;
	font-size: 50px;
}

.admin_del {
	position: absolute;
	z-index: 10;
	right: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
}

.admin_del:hover {
	cursor: pointer;
	width: 92px;
	background: #E37C7B;
	border-radius: 15px;
}

.admin_del:hover:before {
	content: "Delete? ";
}

/*#delete_chat {
	font-size: 40px;
	text-decoration: none;
	font-weight: 700;
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;        
	border: 5px solid #E37C7B;
	font-family: "Geo",sans-serif;
	margin-bottom: 20px;
	color: #E37C7B;
	background: #fff;
}

#delete_chat:hover {
	background: #E37C7B;
	color: #fff;
	cursor: pointer;
	-webkit-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow:    inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
	box-shadow:         inset 0px 0px 0px 5px rgba(255, 255, 255, 1);	
}*/

.chat_to_del {
	width: 100%;
	background: #E37C7B;
	font-weight: 700;
	line-height: 30px;
	border-top: 5px #fff solid;
	color: #fff;
}

.chat_to_del:hover {
	background: #E37C7B;
	cursor: pointer;
}

.chat_to_del:hover:after {
	content: "?";
}

.chat_to_del:hover:before {
	content: "Delete ";
}

/* ENTER ROOM STYLES */

#room_container {
	text-align: center;
	max-width: 350px;
	margin: 0 auto;
	font-family: 'Roboto Slab', serif;
}

#room_list {
	background: #fff;
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	border-top: #62ACDD solid 5px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#room_title {
	padding: 50px 0 20px 0;
	color: #62ACDD;
	font-family: "Geo",sans-serif;
	font-size: 50px;
}

.room_name {
	margin-top: 5px;
	width: 100%;
	background: #62ACDD;
	font-weight: 700;
	line-height: 30px;
	color: #fff;
	font-weight: 700;
	position: relative;
	border-radius: 15px;
}

.room_name a:hover:before {
	content: "Join ";
}

.room_name a:hover:after {
	content: "?";
}

.room_name:first-child {
	margin-top: none;
}

.room_name a {
	color: #fff;
	text-decoration: none;
	width: 100%;
	display: block;
	border-radius: 15px;
}

.room_name a:hover {
	background: #1F8DD6;
}

/* CHAT STYLES */

#chat, #messages, #chatters, #message_input {
	margin: 0;
}

#aes_password {
	width: 100%;
	text-align: center;
}

#chat {
	width: 100%;
	height: 100%;
}

#reenter_key {
	display: none;
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#messages {
	float: left;
	width: 75%;
	height: 90%;
	background: #fff;
	font-family: 'Roboto Slab', serif;
	position: relative;
	overflow-y:auto;
}

#messages_inner {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.message {
	padding: 10px;
}

.message:after {
	content:".";
	clear:both;
	visibility:hidden;
}

.message:nth-child(even){
	background-color: #f5f5f5;
}

.name {
	color: #62ACDD;
	display: inline-block;
	font-weight: 700;
}

.red {
	color: #E37C7B;
}

.msg {
	display: inline-block;
	max-width: 100%;
	word-wrap: break-word;
	font-weight: 300;
}

.msg a {
	color: #62ACDD;
}

.time {
	color: #ccc;
	float: right;
	display: inline-block;
}


#chatters {
	font-family: 'Roboto Slab', serif;
	float: left;
	width: 25%;
	height: 90%;
	background: #62ACDD;
	position: relative;
	border-left: 5px solid #ccc;
	overflow-y: auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.menu_item {
	max-width: 300px;
	text-align: center;
	line-height: 40px;
	margin: 0 auto;
}

#welcome_msg {
	text-align: center;
	position: absolute;
	padding: 10px;
	bottom: 0;
	right: 0;
	left: 0;
	background: #fff;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.user_del {
	position: absolute;
	z-index: 10;
	right: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
}

.user_del:hover {
	cursor: pointer;
	width: 104px;
	background: #E37C7B;
	border-radius: 15px;
}

.user_del:hover > .user_to_del {
	text-align: left;
}

.user_del:hover:before {
	content: "Remove? ";
}


#message_input {
	float: left;
	width: 100%;
	height: 10%;
	background: #d0d0d0;
}

#logout {
}

#logout a{
	color: #62ACDD;
	text-decoration: none;
	line-height: 40px;
	display: block;
	height: 100%;
}

#logout a:hover {
	color: #fff;
}

#delete_messages {
}

#delete_messages:hover {
	cursor: pointer;
}

#edit_profile {
}

#edit_profile:hover {
	cursor: pointer;
}

#menu_btn {
}

#menu_btn:hover {
	cursor: pointer;
}

.hidden_li {
	display: none;
}

/* ADD USER STYLES */



#add_user {
	padding-bottom: 20px;
	color: #62ACDD;
	font-family: "Geo",sans-serif;
	font-size: 20px;
	background: #fff;
	text-align: center;
	display: none;
}

.add_user_highlighted {
}

#add_user:hover {
	cursor: pointer;
}

#add_user_form {
	width: 100%;
	margin: 0 auto;
	display: none;
	background: rgba(255,255,255,1);
	text-align: center;
	padding: 20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#add_user_form label {
	margin-top: 15px;
	display: block;
	width: 100%;
	text-align: left;
	font-family: "Geo",sans-serif;
	font-weight: 700;
}

#add_user_form input[type="text"], #add_user_form input[type="password"], #add_user_form input[type="submit"] {
	width: 100%;
	margin-top: 0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#add_user_form input[type="submit"] {
	margin-top: 15px;
}

/* DELETE USER STYLES */

.sidebar_title {
	color: #62ACDD;
	font-family: "Geo",sans-serif;
	font-size: 40px;
}

#del_user_form {
	padding: 20px;
	width: 100%;
	margin: 0 auto;
	display: none;
	background: rgba(255,255,255,1);
	text-align: center;
	border-bottom: 5px #fff solid;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.user_to_del {
	width: 100%;
	background: #62ACDD;
	font-weight: 700;
	line-height: 30px;
	color: #fff;
	position: relative;
	border-radius: 15px;
	margin-top: 5px;
}

/* FORM STYLES */
#message_input form {
	height: 100%;
	width: 100%;
}

#message_input input[type="text"] {
	float: left;
	width: 75%;
	margin-top: 0;
	height: 100%;
	font-family: 'Roboto Slab', serif;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#message_input input[type="submit"] {
	float: left;
	width: 25%;
	height: 100%;
	font-family: "Geo",sans-serif;
	font-size: 25px;
	border-left: 5px solid #ccc;
}


input[type="text"], input[type="password"] {
	height: 3em;
	margin-top: 1em;
	border: 5px solid #62ACDD;
	border-width: 5px 0 0 0;
	background-color: #eee;
	padding-left: 1em;
	outline: none;
	font-family: 'Roboto Slab', serif;
}

input[type="submit"] {
	font-family: "Geo",sans-serif;
	background-color: #1F8DD6;
	color: #fff;
	border: 0px;
	height: 3em;
}

input[type="submit"]:hover {
	cursor: pointer;
	opacity: .8;
}

/* VEX STYLES */

.vex-dialog-form {
	font-family: 'Roboto Slab', serif;
}

.vex-dialog-message {
    margin-bottom: 1em !important;
    font-weight: 700 !important;
    text-align: center !important;
}

.vex-content {

	border-radius: 0px !important;
	border-top: 5px solid #62ACDD !important;
	background-color: #fff !important;
	padding: 50px !important;
}

.vex-content input[type="password"] {
	background-color: #eee !important;
	border-radius: 0px !important;
	border-top: 5px solid #62ACDD !important;
}

.vex-content input[type="submit"], .vex-content input[type="button"] {
	font-family: "Geo",sans-serif !important;
	height: 3em !important;
	font-size: 15px !important;
}

@media (max-width: 480px) {
	#chatters {
		display: none;
	}

	#messages {
		width: 100%;
		height: 90%;
	}
}
