<!DOCTYPE html>
<html>
	<head>
		<title>Encryp.us || {{ title }}</title>
		<link rel="stylesheet" href="{{ static_url("vex.css") }}" />
		<link rel="stylesheet" href="{{ static_url("vex-theme-os.css") }}" />
		<link rel="stylesheet" href="{{ static_url("main.css") }}" type="text/css"/>
		<link rel="stylesheet" href="{{ static_url("ionicons.css") }}" type="text/css"/>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="shortcut icon" href="{{ static_url("favicon.ico") }}" >
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
		<script src="{{ static_url("jquery.linkify.min.js") }}"></script>
		<script src="{{ static_url("favico-0.3.5.min.js") }}"></script>
		<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
		<script src="{{ static_url("vex.combined.min.js") }}"></script>
		<script>vex.defaultOptions.className = 'vex-theme-os';</script>
		<script src="{{ static_url("global.js") }}"></script>
		{% if room %}
		<script src="{{ static_url("room.js") }}"></script>
		{% end %}
		{% if title == "Login" %}
		<script src="{{ static_url("login.js") }}"></script>
		{% end %}
		{% if title == "Home" %}
		<script src="{{ static_url("home.js") }}"></script>
		{% end %}
		{% if title == "OTR Chat" %}
		<script src="{{ static_url("otr.js") }}"></script>
		{% end %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta content="chat, encryption, encryp, encrypt, aes, diffie, hellman, encryp.us, encrypus, web, chatting, secure" name="keywords"></meta>
		<meta content="Encryp.us is an encrypted web chatting application" name="description"></meta>
	</head>
	<body>
		<div id="nav">
			<ul>
				<li id="home"><a href="/">EU</a></li>
				{% if title == "Welcome" %}
				<li><a href="#about">about</a></li>
				<li><a href="https://github.com/m-n-/encryp.us">github</a></li>
				{% end %}
				{% if username %}
				<li><a href="/logout">logout</a></li>
				<li><a href="/home">home</a></li>
				{% end %}
				{% if room %}
				<li id="del_user"><a>users</a></li>
				{% if admin %}
				<li id="delete_messages"><a>delete messages</a></li>
				{% end %}
				{% end %}
			</ul>
			<div id="nav_title">
				{% if title == "Home" %}{{ username }}'s Dashboard{% end %}
				{% if room %}{{ room }}{% end %}
				{% if title == "OTR Chat" %}{{ users }}{% end %}
				{% if title == "Login" %}login{% end %}
			</div>
			
		</div>
	{% block content %}{% end %}
	</body>
</html>