{% extends "base.html" %}
{% block content %}
		<div id="nav">
			<ul>
				<li id="menu_btn"><i class="fa fa-bars"></i></li>
				<li id="logout" class="hidden_li"><a href="/"><i class="fa fa-home"></i></a></li>
			</ul>
		</div>
		<div id="login_form">
			<div id="login_title">
				Create Account
			</div>
			<div id="errors">
				{% if error %}
				{{ error }}
				{% end %}
			</div>
			<form action="/createaccount" method="POST">
				<label for="username">Username: </label><input type="text" name="username" id="account-username" required>
				<label for="password">Password: </label><input type="password" name="password" id="account_password" required>
				<label for="password">Re-enter Password: </label><input type="password" name="password" id="account_reenter_password" required>
				<input type="submit" value="create account" id="account_submit">
			</form>
		</div>
{% end %}