{% extends "base.html" %}
{% block content %}
		<div id="join_container">
			<div class="room_container">
				<div class="room_title">CHOOSE A ROOM</div>
				<div id="room_list">
				{% if len(room_list) == 0 %}
					<div class="room_name">No Rooms Available</div>
				{% end %}
					{% for rooms in room_list %}
					<div class="room_name"><a href="/chat?room={{ rooms }}">{{ rooms }}</a>
						{% if rooms in admin_list %}
							<div class="admin_del"><i class="icon ion-ios7-close-empty"></i></div>
						{% end %}
					</div>
					{% end %}
				</div>
				
			</div>
			<div class="room_container">
				<div class="room_title">CREATE A ROOM</div>
				<div id="new_chat">
					<form method="POST">
						<div id="errors"></div>

						<div id="success"></div>
						<label for="new_chat">ROOM NAME: </label>
						<input id="new_chat_name" type="text" name="new_chat_name" autocomplete="off" required>
						<input id="new_chat_submit" type="submit" value="create new room">
					</form>
				</div>
			</div>
			<div class="room_container">
				<div class="room_title req_title">REQUEST INVITE</div>
				<div id="request_list">

					<form action="/request" method="POST">
						<div id="errors_request"></div>
						<input id="new_request_name" type="text" name="new_request_name" autocomplete="off" placeholder="Enter room name..." required>
						<input id="new_request_submit" type="submit" value="request invite">
					</form>
					{% if len(request_list) > 0 %}
					<div id="pending_invites" class="room_title">PENDING INVITES</div>
					{% for rooms in request_list %}
						<div class="room_name">{{ rooms }}
							<div class="req_del"><i class="icon ion-ios7-close-empty"></i></div>
						</div>
					{% end %}
					{% end %}
				</div>
			</div>
		</div>
{% end %}