{% extends "base.html" %}
{% block content %}
		<div id="chat">
			<div id="messages">
				<div id="messages_inner">
					{% for msg in messages %}
						{% module Template("message.html", msg=msg) %}
					{% end %}
				</div>
			</div>
			<div id="chatters">
				<div id="logout" class="menu_item"><a href="/logout">logout</a></div>
				<div id="welcome_msg" class="menu_item">Welcome, {{ username }}.</div>
				<div id="delete_messages" class="menu_item">delete messages</div>
				{% if admin == b"yes" %}
				<div id="add_user" class="menu_item">create new user</div>
					<div id="add_user_form">
						<form method="POST">
							<label for="new_username">Username: </label>
							<input id="new_username" type="text" name="new_username" autocomplete="off">
							<label for="new_password">Password: </label>
							<input id="new_password" type="password" name="new_password" autocomplete="off">
							<label for="new_admin">Admin?: </label>
							<input id="new_admin" type="checkbox" name="new_admin" value="yes">
							<input id="new_user_submit" type="submit" value="create new user">
						</form>	
					</div>
				{% end %}
			</div>
			<div id="message_input">
				<form method="POST">
					<input id="chat_input" type="text" name="message" autocomplete="off">
					<input id="chat_submit" type="submit" value="submit">
				</form>
			</div>
		</div>
{% end %}