{% extends "base.html" %}
{% block content %}
		<div id="nav">
			<ul>
				<li id="home"><a href="/">E.U</a></li>
				<li><a href="/logout">logout</a></li>
			</ul>
		</div>
		<div id="join_container">
			<div id="room_container">
				<div id="room_title">CHOOSE A ROOM</div>
				<div id="room_list">
				{% if len(room_list) == 0 %}
					<div class="room_name">No Rooms Available</div>
				{% end %}
					{% for room in room_list %}
					<div class="room_name"><a href="/chat?room={{ room }}">{{ room }}</a>
						{% if room in admin_list %}
							<div class="admin_del"><i class="icon ion-ios7-close-empty"></i></div>
						{% end %}
					</div>
					{% end %}
				</div>
				
			</div>
			<div id="room_container">
				<div id="room_title">CREATE A ROOM</div>
				<div id="new_chat">
					<form method="POST">
						<div id="errors"></div>

						<div id="success"></div>
						<label for="new_chat">ROOM NAME: </label>
						<input id="new_chat_name" type="text" name="new_chat_name" autocomplete="off" required>
						<input id="new_chat_submit" type="submit" value="create new room">
					</form>
				</div>
			</div>
		</div>
{% end %}