{% extends "base.html" %}
{% block content %}
		<div id="nav">
			<ul>
				<li id="menu_btn">menu</li>
				<li id="logout" class="hidden_li"><a href="/">home</a></li>
				<li id="logout" class="hidden_li"><a href="/logout">logout</a></li>
			</ul>
		</div>
		<div id="room_container">
			<div id="room_title">CHOOSE A ROOM</div>
			<div id="room_list">
				{% for room in room_list %}
				<div class="room_name"><a href="/chat?room={{ room }}">{{ room }}</a></div>
				{% end %}
			</div>
			<div id="start_chat" class="start_button"><a href="/login?next=startchat">Start New Chat</a></div>
		</div>
{% end %}