{% extends "base.html" %}
{% block content %}
		<div id="nav">
			<ul>
				<li id="menu_btn"><i class="fa fa-bars"></i></li>
				<li id="logout" class="hidden_li"><a href="/"><i class="fa fa-home"></i></a></li>
				<li id="logout" class="hidden_li"><a href="/logout"><i class="fa fa-sign-out"></i></a></li>
			</ul>
		</div>
		<div id="room_container">
			<div id="room_title">CHOOSE A ROOM</div>
			<div id="room_list">
				{% for room in room_list %}
				<div class="room_name"><a href="/chat?room={{ room }}">{{ room }}</a>
					{% if room in admin_list %}
						<div class="admin_del"><i class="fa fa-times-circle"></i></div>
					{% end %}
				</div>
				{% end %}
			</div>
			<div id="start_chat" class="start_button"><a href="/login?next=startchat">Start New Chat</a></div>
		</div>
{% end %}