{% extends "base.html" %}
{% block content %}
		<div id="nav">
			<ul>
				<li id="home"><a href="/">E.U</a></li>
				<li><a href="/logout">logout</a></li>
			</ul>
		</div>
		<div id="login_container">
			<div id="login_form">
				<div id="login_title">
					BEEN HERE BEFORE?
				</div>
				<div id="errors">
					{% if error %}
					{{ error }}
					{% end %}
				</div>
				<form action="/login" method="POST">
					<label for="username">Username: </label><input type="text" name="username" id="username" required>
					<label for="password">Password: </label><input type="password" name="password" id="password" required>
					<input type="hidden" name="next_page" value="{{ next_page }}">
					<input type="submit" value="submit" id="login_submit">
				</form>
			</div>
			<div id="login_form">
				<div id="login_title">
					NEW HERE?
				</div>
				<div id="errors_new"></div>
				<form action="/createaccount" method="POST">
					<label for="username">Username: </label><input type="text" name="username" id="account_username" required>
					<label for="password">Password: </label><input type="password" name="password" id="account_password" required>
					<label for="confirm">Re-enter Password: </label><input type="password" name="confirm" id="account_reenter_password" required>
					<input type="submit" value="create account" id="account_submit">
				</form>
			</div>
		</div>
{% end %}