{% extends "base.html" %}
{% block content %}
		<div id="chat">
			<div id="messages">
				<div id="messages_inner">
					{% for msg in messages %}
						{% module Template("message.html", msg=msg, username=username) %}
					{% end %}
				</div>
			</div>
			<div id="users">
				<div id="del_user_form">
					<div class="sidebar_title">USER LIST</div>
					<div id="allowed_users">
					{% for user in users %}
						<div class="user_to_del">{{ user }}
							{% if admin and user != username %}
								<div class="user_del"><i class="icon ion-ios7-close-empty"></i></div>
							{% end %}
						</div>
					{% end %}
					</div>
				{% if admin %}
					<div id="requests">
					{% for user in requests %}
						<div class="req_user">{{ user }}<div class="req_deny"><i class="icon ion-ios7-close-empty"></i></div><div class="req_accept"><i class="icon ion-ios7-checkmark-empty"></i></div></div>
					{% end %}
					</div>
				{% end %}
				</div>
				{% if admin %}
					<div id="add_user" class="sidebar_title"><i class="icon ion-ios7-plus-empty"></i> USER</div>
					<div id="add_user_form">
						<form method="POST">
							<div id="errors"></div>
							<label for="new_username">Username: </label>
							<input id="new_username" type="text" name="new_username" autocomplete="off">
							<label for="new_admin">Admin?: </label>
							<input id="new_admin" type="checkbox" name="new_admin" value="yes">
							<input id="new_user_submit" type="submit" value="add new user">
						</form>	
					</div>
				{% end %}
			</div>
			<div id="message_input">
				<form method="POST">
					<input id="chat_input" type="text" name="message" autocomplete="off">
					<input id="chat_submit" type="submit" value="submit">
				</form>
			</div>
		</div>
{% end %}