{% extends "base.html" %}
{% block content %}
		<div id="nav">
			<ul>
				<li id="home"><a href="/">E.U</a></li>
				{% if username %}
				<li><a href="/logout">logout</a></li>
				{% end %}
			</ul>
		</div>
		<div id="start_container">
			<div id="title">Encryp.Us</div>
			{% if username %}
				<div id="start_title">Welcome back, {{ username }}</div>
				<div id="login_create"><a href="/joinchat">Join chat</a></div>
			{% else %}
				<div id="start_title">Welcome to Encryp.Us</div>
				<div id="login_create"><a href="/login">Login or Create an Account</a></div>
			{% end %}
		</div>
{% end %}